<div class="pusher">

  <% if flash.notice %>
    <div class="ui container">
      <div class="ui error message">
        <i class="close icon"></i>
          <div class="header">
            Warning!
          </div>
        <p><%= flash.notice %></p>
      </div>
    </div>
  <% end %>

  <div class="ui container">

    <% if @products.any? %>
      <div class="ui grid">
        <div class="doubling four column row">
        <% @products.each do |product| %>
          <div class="column buffer"> 
            <div class="ui link cards">
              <div class="card">
                <div class="ui fluid image">
                  <% if product.image == 0 %>
                    <%= image_tag product.image = root_path << "placeholder_images/pillow.jpg", class: "img-responsive" %>
                  <% else %>
                    <%= image_tag product.image = Media.find(product.image).file_name.url, class: "img-responsive" %>
                  <% end %>
                </div>
                <div class="content">
                  <div class="header"><%= product.name %></div>
                  <div class="meta">
                    <a><%= product.category.name %></a>
                  </div>
                  <div class="description">
                    <%= product.about %>
                  </div>
                </div>
                <div class="extra content">
                  <div class="ui right floated">
                    <%= link_to 'View Product', product, class: "ui button" %>
                  </div>
                  <span>
                    <%= number_to_currency(product.price.to_d / 100) %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>

        <% if @products.blank? %>
          <h3>There are no products matching your query! Please try again!</h3>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

