<p id="notice"><%= notice %></p>

<h1>Orders</h1>

    <% @orders.each do |order| %>
      <%= order.created_at %>
      <%= number_to_currency(order.order_details["amount"].to_d / 100) %>
      <%= order.order_details["source"]["last4"] %>
      <%= link_to 'Show', order %>
      <%= link_to 'Edit', edit_order_path(order) %>
      <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
    <% end %>

<br>

