

<div class="ui container">


  <div class="ui raised horizontal segments">
    
    <div id="product-image-dropzone" class="ui padded segment">
      <%= image_tag @image, class: "ui large image" %>
    </div>
  
    <div class="ui padded segment">
      <div class="header">
        Shop: <%= link_to @product.shop.name, @product.shop %>
      </div>
      <div class="ui segment">
      <div class="content">
        <div class="header">
          <%= @product.name %>
        </div>
        <div class="meta">
          <%= @product.category.name %>
        </div>
        <div class="description <% if current_user == @product.shop.user %> editable <% end %> ">
          <%= @product.description.html_safe %>
        </div>

        <div class="extra content">
          <%= number_to_currency(@product.price.to_d / 100) %>
          <div class="ui two buttons">
            <%= form_with url: '/cart/add' do |form| %>
              <%= form.hidden_field(:product_id, value: @product.id) %>
              <%= form.select :quantity, options_for_select(@quantity), { prompt: "Select Quantity"}, class: "ui basic blue button" %>
              <%= form.submit 'Add To Cart', class: "ui basic blue button" %>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  </div>
</div>

<script>
  var shoppingCart = function(){
    $('.ui.modal')
      .modal('show')
    ;
  }
</script>


<div class="ui modal">
  <i class="close icon"></i>
    <div class="header">
    <i class="large add to cart icon"></i>Shopping Cart
    </div>
    <div class="content">
        

    </div>
      <div class="actions">
        <%= link_to 'Continue Shopping', root_path, class: "ui basic blue button" %>
        <%= link_to 'Checkout', cart_path, class: "ui basic blue button" %>
      </div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
