

<div class="ui container">


  <div class="ui raised horizontal segments">
    
    <div <% if current_user == @product.shop.user %> id="product-image-dropzone" <% end %> class="ui padded segment">
      <%= image_tag @image, class: "ui large image" %>
    </div>
  
    <div class="ui padded segment">
      <div class="header">
        Shop: <%= link_to @product.shop.name, @product.shop %>
      </div>
      <div class="ui segment">
      <div class="content">
        <div class="header">
          <%= @product.name %>
        </div>
        <div class="meta">
          <%= @product.category.name %>
        </div>
        <div class="description <% if current_user == @product.shop.user %> editable <% end %> ">
          <%= @product.description.html_safe %>
        </div>

        <div class="extra content">
          <%= number_to_currency(@product.price.to_d / 100) %>
          
          <div class="ui">
            
            <%= form_with url: '/cart/add' do |form| %>
              <%= form.hidden_field(:product_id, value: @product.id) %>
              <div class="button-buffer">
                <%= form.label :quantity, 'QTY:' %>
                <%= form.select :quantity, options_for_select(@quantity), class: "ui button" %>
                <%= form.submit 'Add To Cart', class: "ui button" %>
              </div>
            <% end %>
            

          </div>

        </div>
      </div>
    </div>

        <% if @product.shop.user == current_user %>
          
          <div class="ui">

            <button id="saveProd" class="ui button">Save Description Changes</button>
            <%= link_to 'Edit Product Details', edit_product_path(@product), class: "ui button" %> 

          </div>

        <% end %>
  </div>
  </div>
</div>

<script>
  var shoppingCart = function(){
    $('.ui.modal')
      .modal('show')
    ;
  }
</script>


<div class="ui modal">
  <i class="close icon"></i>
    <div class="header">
    <i class="large add to cart icon"></i>Shopping Cart
    </div>
    <div class="content">
        

    </div>
      <div class="actions">
        <%= link_to 'Continue Shopping', root_path, class: "ui basic blue button" %>
        <%= link_to 'Checkout', cart_path, class: "ui basic blue button" %>
      </div>
</div>

