<!DOCTYPE html>
<html>
  <head>
    <title>Digitalmarketplace</title>
    
    <%= csrf_meta_tags %>
  	
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous" />

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js" integrity="sha256-Bhi6GMQ/72uYZcJXCJ2LToOIcN3+Cx47AZnq/Bw1f7A=" crossorigin="anonymous"></script>
    
    <script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <script>
      var categories = function(){
        $('.ui.sidebar').sidebar('toggle');
      }
    </script>
  

  <div class="ui left sidebar vertical inverted menu scale down">
    <%= link_to 'All', root_path, class: "item" %> <br>
    <% @categories.each do |category| %>
      <%= link_to category.name, "/main/home?category_id=#{category.id}", class: "item" %> <br>
    <% end %>
  </div>
  

<div class="pusher">
  <div class="navbar-buffer"></div>
    <div class="ui fixed secondary menu">
      <%= link_to 'Home', root_path, class: "item" %>
      <a class="item" onclick = "return categories();">
        Categories
      </a>
      <% if user_signed_in? %>
        <%= link_to 'Messages', conversations_path, class: "ui item" %>
      <% end %> 
      <% if user_signed_in? and current_user.has_role? :admin %>
        <%= link_to 'Admin', orders_path, class: "ui item" %>
      <% end %>
      <%= link_to cart_path, class: "ui item" do %>
        <i class="large add to cart icon"></i>
      <% end %>   
      <div class="right menu">
        <% if user_signed_in? %>
          <%= link_to current_user.shop.name, current_user.shop, class: "ui item"  %>
          <%= link_to('(Logout)', destroy_user_session_path, method: :delete, class: "ui item") %> 
        <% else %>
          <%= link_to('Login', new_user_session_path, class: "ui item") %>
          <%= link_to('Sign Up', new_user_registration_path, class: "ui item") %>
        <% end %>
      </div>
    </div>

    <%= yield %>

  </div>



   
      
  </body>
</html>
